/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


.content-block::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}

.navbar_left .logo_image {
    width: 140px;
}

.popup h5 {
    letter-spacing: .5px;
}

.user-nav ul li {
    border-bottom: 1px #dce2e2 solid;
}


.user-nav ul li span {
    color: #6e969e;
}

.user-nav ul li strong {
    background-color: #6b7373;
}

.panel-right {
    background-color: #fff;
}

.user_thumb img.cover {
/*    filter: brightness(.5);
    -webkit-filter: brightness(.5);
    -moz-filter: brightness(.5);
*/}

h2.page_title {
    font-size: 16px;
    line-height: 25px;
    font-weight: 100;
    color: #999;
    padding: 5px 0;
}

.slider-caption h2 {
    color: #fff;
    font-weight: 200;
}

.slider-caption span.subtitle {
    width: 100%;
    margin: 0px 0 10px 0;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: .5px;
    color: #f1f1f1;
    display: block;
}

.settingsform {
    width: 100%;
    padding: 0 0 15px 0;
}

.settingsform label {
    width: 100%;
    padding: 5px 0 3px 0;
    display: block;
    font-size: 16px;
    font-weight: 400;
}

.settingsform input.form_input {
    padding: 3%;
    width: 93%;
    margin: 0 0 5px 0;
    border: 1px solid #ddd;
}

.settingsform input.form_submit {
    width: 100%;
    padding: 4% 0 4% 0;
    margin: 10px 0 0 0;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    background-color: #2fa9e0;
    border-radius: 30px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.settingsform label {
    width: 100%;
    padding: 5px 0 3px 0;
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #777;
}

.back-to-home {
    margin-top: 30px;
}

#pages_maincontent .back-to-home img {
    display: inline-block;
    max-width: 100%;
    width: 17px;
    margin-right: 5px;
}

#pages_maincontent .settings-title, #pages_maincontent .history-title {
    margin-bottom: 10px;
    padding: 0;
}

#pages_maincontent .settings-title h2, #pages_maincontent .history-title h2 {
    padding-bottom: 0;
    font-weight: 600;
}




/* ini History Pemesanan bok! */


ul.history-detailed li {
    padding: 20px 2%;
    margin: 0;
    display: block;
    width: 43%;
    float: left;
}

ul.history-detailed .small-detail ul li h5 {
    padding-bottom: 0;
    font-size: 16px;
    color: #999;
}

ul.history-detailed .small-detail ul li.half {
    width: 50%;
}

ul.history-detailed .small-detail ul li.price p {
    font-size: 24px;
}

ul.history-detailed .small-detail ul li {
    padding: 0;
}


@media screen and (max-width: 780px) {

    ul.history-detailed {
        padding: 0 0 20px 0;
        width: 100%;
        margin: 0px;
        list-style: none;
        float: left;
    }

    ul.history-detailed li {
        width: 96%;
        padding: 10px 0;
    }

    ul.history-detailed li .small-icon {
        width: 10%;
        float: left;
        margin: 2px 0 0 0;
    }

    ul.history-detailed li .small-icon h3 {
        font-size: 38px;
    }

    ul.history-detailed li .small-detail {
        width: 85%;
        float: left;
        padding: 0 0 0 5%;
        border-left: 2px dashed #8ad3db;
    }

    ul.history-detailed li .small-detail h4 {
        display: table;
        font-weight: 100;
        font-size: 16px;
        padding: 2px 8px;
        margin: 0px;
        color: #fff;
        background-color: #8ad3db;
        border-radius: 0 20px 20px 0;
        margin-bottom: 16px;
    }

    ul.history-detailed li .small-detail h4 span {
        font-weight: 100;
        margin-right: 4px;
        margin-left: 4px;
    }

    .navbarpages {
        background-color: #8cdde6;
    }
}




/* ini bagian Order deccch */

.order label {
    color: #999;
    font-weight: 100;
}

.order label {
    width: 100%;
    padding: 5px 0 3px 0;
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #777;
}

.order input.form_input {
    padding: 3%;
    width: 93%;
    margin: 0 0 5px 0;
    border: 1px solid #ddd;
}

.order textarea.form_textarea {
    padding: 3%;
    width: 93%;
    margin: 0 0 5px 0;
    border: 1px solid #ddd;
}

.order input.form_submit {
    width: 100%;
    padding: 4% 0 4% 0;
    margin: 10px 0 0 0;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    background-color: #2fa9e0;
    border-radius: 30px;
    color: #fff;
    border: none;
    cursor: pointer;
}


/*oh iya ini bagian Profile ya wak */

.profile-form label {
    width: 100%;
    padding: 5px 0 3px 0;
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #777;
}

.profile-form input.form_input {
    padding: 3%;
    width: 93%;
    margin: 0 0 5px 0;
    border: 1px solid #ddd;
}

.profile-form textarea.form_textarea {
    padding: 3%;
    width: 93%;
    margin: 0 0 5px 0;
    border: 1px solid #ddd;
}

.profile-form input.form_submit {
    width: 100%;
    padding: 4% 0 4% 0;
    margin: 10px 0 0 0;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    background-color: #2fa9e0;
    border-radius: 30px;
    color: #fff;
    border: none;
    cursor: pointer;
}

#profile .user-avatar {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

#profile .user-avatar img {
    float: left;
    width: 30%;
    display: block;
    max-width: 100%;
    margin: 10px 0 0 0;
    border-radius: 50%;
}

#profile .user-avatar .change-ava {
    float: left;
    width: 50%;
    padding-left: 40px;
    padding-top: 40px;
}

#profile .user-avatar a {
    padding: 10px 15px;
    font-size: 20px;
    color: #fff;
    background-color: #2fa9e0;
    border-radius: 7px;
}

#profile .user-avatar a i {
    margin-right: 5px;
    filter: brightness(200%);
    -webkit-filter: brightness(200%);
    -moz-filter: brightness(200%);
}